<div class="row">
    <div class="col-sm-6">
        <form [formGroup]="filterForm" (submit)="searchByMusicOrPlaylist()">
            <div class="input-group">
                <input class="form-control" formControlName="musicOrPlaylistFilter" placeholder="Music or Artist" type="search">
                <div class="input-group-append">
                    <button class="btn-primary btn-md pl-4 pr-4" type="submit"><fa-icon [icon]="faSearch"></fa-icon></button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-6">
        <div class="input-group">
            <input class="form-control" [(ngModel)]="userFilter" placeholder="User" type="search">
        </div>
    </div>
</div>
